div.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
    
      a.brand(href="/") CrowdBotBlock
      a.brand(href="/blockly/demos/code/index.html") Code Editor
      a.brand(href="http://ustream.tv/channel/crowdbot") Livestream

div.container
  .row
    .hero-unit
      h1 CrowdBotBlock
      h3 Drag and drop to control a robot over the web.
  .row
    .span4
      h3 Arduino
      p Arduino is an open-source hardware controller which can make tons of robots. Right now we have a simple one that you can control over the web.
      a(href="http://arduino.cc", style="color:blue;") Arduino Project
      img(src="http://p.twimg.com/AgwrF22CMAA5HoQ.jpg")
    .span4
      h3 Blockly
      p The drag-and-drop code editor powering CrowdBotBlock is based on Blockly, an open-source project from Google.
      a(href="http://code.google.com/p/blockly/", style="color:blue;") Learn more
      br
      img(src="http://p.twimg.com/AzkUk0jCYAAUvT7.png")
    .span4
      h3 node.js and johnny-five
      p Node.js is a platform for writing a web server in JavaScript.
      p Rick Waldron's johnny-five module lets you control an attached Arduino from node.js
      br
      img(src="http://i.imgur.com/Wb3Xn.png")

  br
  br

  .row
    .span12(style="text-align:center;")
      img(src="http://codeforamerica.org/wp-content/uploads/2011/12/CfA_logo-300x120.png", style="width:200px;margin-left:auto;margin-right:auto;")