div.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
    
      a.brand(href="/") CrowdBotBlock
      a(href="/blockly/demos/code/index.html") Code Editor
      a(href="http://ustream.tv/channel/crowdbot") Livestream

div.container
  .row
    .hero-unit
      h1 CrowdBotBlock
      h3 Drag and drop to control a robot over the web.
  .row
    .span1
    .span5
      h3 Arduino
      p Arduino is an open-source hardware controller which can make tons of robots. Right now we have a simple one that you can control over the web.
      img(src="http://p.twimg.com/AgwrF22CMAA5HoQ.jpg")
    .span5
      h3 Blockly
      p The drag-and-drop code editor powering CrowdBotBlock is based on Blockly, an open-source project from Google.
      a(href="http://code.google.com/p/blockly/") Learn more
    .span1